---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h1>Acerca de mí</h1>
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <p>
      Soy Ingeniero Electrónico por la UNAM.<br>
      Actualmente, finalicé el Bootcamp de Desarrollo Web en la UVM.<br>
      Tengo un diplomado en Redes IP, Voz y Datos por la UNAM.<br>
      Tengo 6 años de experiencia laboral en el campo de la Informática.
    </p>
    <img src="/public/images/WhatsApp Image 2025-05-07 at 12.01.42 AM.JPEG"alt="Cristian Quintana" width="200" height="265" style="border-radius: 20px;" />
  </div>
</BaseLayout>