---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <h1>Contacto</h1>
    <p>¿Quieres ponerte en contacto conmigo?. Puedes hacerlo a través de los siguientes medios:</p>
    <ul>
      <li>Correo electrónico: <a href="mailto:iqr360@gmail.com">iqr360@gmail.com</a></li>
      <li>Teléfono: <a href="tel:+525536435987">55 3643 5987</a></li>
      <li>GitHub:<a href="https://github.com/cquintana1/"target="_blank">cquintana1</a></li>
      <li>Redes sociales:
        <ul>
          <li>Instagram: <a href="https://www.instagram.com/crixtianq?igsh=bGNjMGNneGduMmh6/"target="_blank">crixtianq</a></li>
          <li>Facebook: <a href="https://www.facebook.com/crixtianq/"target="_blank">Crixtian Quintana</a></li>
          
          
          <!-- Agrega más redes sociales si lo deseas -->
        </ul>
      </li>
    </ul>
  </BaseLayout>
