---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <p3>Ing. Cristian Quintana</p3>
      <h2>Bienvenido a mi portafolio</h2>
      <p>Aquí puedes encontrar información sobre mí y mis proyectos.</p>
    </div>
    <img src="/public/images/webdeveloper1.JPG" alt="Cristian Quintana" width="180" height="165" style="border-radius: 20px;" />
  </div>
</BaseLayout>