<footer>
  <p1>
    <span style="color: rgb(0, 229, 255);">Habilidades:</span>
    <span style="color: rgb(0, 128, 255);">Javascript &nbsp;&nbsp; Python &nbsp;&nbsp; SQL &nbsp;&nbsp; Backend &nbsp;&nbsp; Frontend</span>
  </p1>
  </footer>
  