---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Mi Portafolio</title>
  <link rel="stylesheet" href="/styles/global.css" />
  <style>
    /* Estilos globales que se aplicarán a todas las páginas */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
	  background-color: aqua;
    }
  </style>
</head>
<body>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</body>
</html